@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Mega&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.desktop-background {
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
}

.mobile-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/background_mobile.png");
  background-size: cover;
  background-position: center;
}
