@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lexend+Mega:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-lexend-mega {
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.animate-shake {
  animation: shake 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

#root {
  transition: opacity 0.5s ease-in-out;
}

body {
  @apply bg-black text-white;
}
